
    <!-- Custom CSS -->
    <link href="../css/sb-admin.css" rel="stylesheet">

  
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

<div class="content-push">

                <div class="breadcrumb-box">
                    <a href="#/home">Main Page</a>
                    <a href="#/myboard">User Board</a>
                    <a href="#/suggest">Suggestion</a>
                </div>

                <div class="information-blocks">
                    <div class="row">
                        <div class="information-entry">
                            
                            
            <!-- CONTENT !!! --> 
<!-- USER NAV -->

                <div class="row">
                    <a href="#/suggest">
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"> Suggestion ></div>
                               
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                            </a>
                    <a href="#/mysales">
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Your Sales ></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div></a>
                    
                    <a href="#/profile">
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Profile ></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div></a>
                    
                </div>
                            
                            <!-- END USER NAV -->
                            
                            
                            
                            

                <!-- Page Heading -->
                            <div id="scrollhere"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" style="color:#337ab7">
                            Suggest a new products category
                        </h1>
                        <!--<ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Forms
                            </li>
                        </ol>-->
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">

                        <form role="form">

                            <div class="form-group">
                                <br/><label>Name of the category :</label>
                                <input class="form-control" ng-model="name">
                                <p class="help-block" style="color:green"> {{status}}</p>
                                <button class="btn btn-default" ng-click="suggestCategory(name)" >Send</button>
                            </div>

                        </form>

                    </div>
                    
                            </div></br></br></br>
                <!-- /.row -->

            
                            
                            
                            
                            
                            <!-- END CONTENT !!! -->
            
                        
                        </div>
                        </div>
                        
                    </div>
                </div>
</div>

 

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</div>