<div class="content-push">

                <div class="breadcrumb-box">
                    <a href="#">Home</a>
                    
                </div>

                <div class="information-blocks">
                    <div class="row">
                        <div class="col-sm-6 information-entry">
                            <div class="login-box">
                                <div class="article-container style-1">
                                    <h3>Add new Deal </h3>
                                    
                                </div>
                                <form ng-upload enctype="multipart/form-data">
                                    <label> SellNumber </label>
                                    <input class="simple-field" type="text" placeholder="Enter a Sell Number " value="" ng-model="deal.deal_SellNumber"/>
                                    <label> Deal Status </label>
                                    <input class="simple-field" type="text" placeholder="Enter a Status " value="" ng-model="deal.deal_Status"/>
                                    
                                    <label> Deal Description </label>
                                    <input class="simple-field" type="text" placeholder="Enter a Descritpion " value="" ng-model="deal.deal_Description"/>
                                    
                                   
                                    <a class="button style-4" > Add     <input type="submit" value="" ng-click="addDeal()"/> </a>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
</div>