


 <div class="row" >
        <div class="information-entry col-md-6" ng-repeat="deal in deals" >
          <div class="sale-entry">
            <div class="hot-mark red">hot</div>
            <div class="sale-price"><span>{{deal.deal_Status}}</span> winter Sale</div>
            <div class="sale-description">{{deal.deal_Description}}</div>
          </div>
        </div>
        <!--<div class="information-entry col-md-6">
          <div class="sale-entry">
            <div class="hot-mark red">hot</div>
            <div class="sale-price"><span>FREE</span> UK delivery</div>
            <div class="sale-description">{{deal.deal_Status}}</div>
          </div>
        </div>-->
      </div>



    
    
 <!--   <div ng-repeat="deal in deals">
        
    


<div class="information-blocks categories-border-wrapper">
                                <div class="block-title size-3">{{deal.deal_Status}}</div>
                                <div class="accordeon">
                                    <div class="accordeon-title" ng-repeat="category in categories">               {{deal.deal_SellNumber}} </div>
                                    <div class="accordeon-entry">
                                        <div class="article-container style-1" ng-repeat="category in categories">
                                            
                                            <ul>
                                                
                                            </ul>
                                        </div>
                                    </div>
                       
                                   
                                </div>
                            </div>

               </div>-->
            


