<div class="login-box">
                                <div class="article-container style-1">
                                    <h3>Registered Customers</h3>
                                   
                                </div>
                                <form>
                                    <label>address</label>
                                    <input class="simple-field" type="text" placeholder="Enter Address" ng-model="address" />
                                    <label>email</label>
                                    <input class="simple-field" type="email" placeholder="Enter Email" ng-model="email" />
                                    <label>first name</label>
                                    <input class="simple-field" type="text" placeholder="Enter first name" ng-model="first_Name" />
                                    <label>last name</label>
                                    <input class="simple-field" type="text" placeholder="Enter last name" ng-model="lastName" />
                                    <label>phone</label>
                                    <input class="simple-field" type="number" placeholder="Enter phone" ng-model="phone" />
                                    <label>login</label>
                                    <input class="simple-field" type="text" placeholder="Enter login" ng-model="login" />
                                    <label>password</label>
                                    <input class="simple-field" type="password" placeholder="Enter password" ng-model="password" />
                                    <div class="button style-10" ng-click="add(address,email,first_Name,lastName,login,password,phone)" ><a href="#/login">Sign Up</a></div>
                                </form>
                            </div>


